        form {
            background-color: #333;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            width: 300px;
        }
        h2 {
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="password"],
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            background-color: #444;
            color: #fff;
            box-sizing: border-box;
        }
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            color: #fff;
        }
        th {
            background-color: #333;
        }
        /* Модальное окно */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
        .modal-content {
            background-color: #333;
            margin: 15% auto;
            padding: 20px;
            border-radius: 5px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            position: relative;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
        /* Кнопки в модальном окне */
        .modal-content button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .modal-content button:hover {
            background-color: #0056b3;
        }
        .editUserBtn,
        .deleteUserBtn {
            display: inline-block;
            padding: 8px 12px;
            margin-right: 5px;
            border: none;
            border-radius: 5px;
            background-color: #28a745;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            outline: none;
        }
        .editUserBtn:hover,
        .deleteUserBtn:hover {
            background-color: #218838;
        }
        .deleteUserBtn {
            background-color: #dc3545;
        }
        .deleteUserBtn:hover {
            background-color: #c82333;
        }
		body {
		    background-color: #121212;
		    color: #e0e0e0;
		    font-family: Arial, sans-serif;
		    margin: 0;
		    padding: 0;
		}
        .container {
            width: 80%;
            margin: auto;
        }
		header {
		    position: fixed;
		    top: 0;
		    left: 0;
		    width: 99%;
		    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* необязательно: тень для эффекта возвышения */
		    z-index: 1000;
		    padding: 10px;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		}

		.logo img {
		    height: 40px; /* Установите высоту и ширину логотипа по вашему усмотрению */
		}

		#user-info {
		    display: flex;
		    align-items: center;
		    position: relative; /* Для позиционирования выпадающего меню */
		}

		#username {
		    margin-right: 10px;
		    font-weight: bold;
		}

		#user-avatar {
		    width: 30px; /* Установите размеры аватарки по вашему усмотрению */
		    height: 30px;
		    border-radius: 50%; /* Для круглой формы */
		    cursor: pointer;
		}

		.user-menu {
		    position: absolute;
		    top: 100%;
		    right: 0;
		    background-color: #fff;
		    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		    display: none;
		}

		.user-menu.show {
		    display: block;
		}

		.user-menu button {
		    display: block;
		    width: 100%;
		    padding: 10px;
		    text-align: left;
		    border: none;
		    background: none;
		    cursor: pointer;
		}

		.user-menu button:hover {
		    background-color: #f0f0f0;
		}

		.user-menu button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #1e1e1e;
            color: #e0e0e0;
            cursor: pointer;
            text-align: left;
            font-size: 16px;
        }

        .user-menu button:hover {
            background-color: #333;
        }