<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Calendar</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylecalendar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-…" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales-all.min.js'></script>
    <link rel="icon" type="image/png" sizes="16x16" href="https://upload.wikimedia.org/wikipedia/commons/2/22/Heckert_GNU_white.svg">
    <style>
        .highlight-now {
            background-color: green !important;
            color: white !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id='calendar'></div>
    </div>

    <!-- Modal for adding task -->
    <div id="taskModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Добавить задачу</h2>
            <input type="text" id="taskTitle" placeholder="Что нужно?">
            <textarea id="taskDescription" placeholder="Как связаться? (Телеграм)"></textarea>
            <button id="saveTask">Сохранить</button>
        </div>
    </div>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridDay',
        locale: 'ru',
        themeSystem: 'bootstrap',
        slotLabelContent: function(slotInfo) {
            var date = slotInfo.date;
            var hour = date.getHours();
            var minute = date.getMinutes();

            // Adjust the display of minutes to show '30' instead of '00'
            if (minute === 0) {
                minute = '30';
            } else {
                minute = '00'; // Reset to '00' for other minutes
            }

            // Format the time label
            return hour + ':' + minute;
        },
        selectable: true,
        editable: true,
        businessHours: {
            startTime: '09:30', // начало рабочего дня
            endTime: '18:30', // конец рабочего дня
            daysOfWeek: [0, 1, 2, 3, 4, 5, 6] // понедельник-пятница
        },
        events: '/api/tasks',
        select: function(info) {
            if (!isTimeSlotAllowed(info.start, info.end)) {
                calendar.unselect();
                alert('Нельзя добавить задачу в нерабочее время или во время обеда.');
            } else {
                openModal(info);
            }
        },
        nonBusinessSegemnts: [{
            daysOfWeek: [0, 1, 2, 3, 4, 5, 6], // понедельник-пятница
            startTime: '18:00', // начало обеда
            endTime: '18:00' // конец обеда
        }],
        headerToolbar: {
            left: 'today',
            center: 'title',
            right: 'next,prev'
        },
        nowIndicator: true,
        eventDidMount: function(info) {
            // Highlight current events
            var now = new Date();
            if (info.event.start <= now && now < info.event.end) {
                info.el.classList.add('highlight-now');
            }
        }
    });

    function isTimeSlotAllowed(startTime, endTime) {
        var startHour = startTime.getHours();
        var endHour = endTime.getHours();
        var startMinute = startTime.getMinutes();
        var endMinute = endTime.getMinutes();

        if (startHour < 9 || endHour > 18 || (endHour === 18 && endMinute > 30)) {
            return false;
        }

        return true;
    }

    calendar.render();

    var modal = document.getElementById('taskModal');
    var span = document.getElementsByClassName("close")[0];

    function openModal(info) {
        modal.style.display = "block";

        span.onclick = function() {
            modal.style.display = "none";
        };

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        var saveButton = document.getElementById('saveTask');
        saveButton.onclick = function() {
            var title = document.getElementById('taskTitle').value.trim();
            var description = document.getElementById('taskDescription').value.trim();
            if (title) {
                var eventData = {
                    title: title,
                    start: info.startStr,
                    end: info.endStr,
                    description: description
                };

                fetch('/api/tasks', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(eventData)
                }).then(response => {
                    if (response.ok) {
                        calendar.addEvent(eventData);
                        modal.style.display = "none";
                        alert('Задача добавлена');
                    } else {
                        alert('Ошибка при добавлении задачи');
                    }
                });
            } else {
                alert('Введите название задачи');
            }
        };
    }
});
    </script>
</body>
</html>
