<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удаление задач</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemenu.css') }}">
    <style>
        .flash-messages {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        width: 300px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .flash-message {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .flash-messages.dark-mode {
            background-color: #333;
            color: #fff;
            border: 1px solid #666;
        }

        .flash-messages.dark-mode .flash-message {
            background-color: #444;
            border: 1px solid #666;
            color: #fff;
        }
    </style>
</head>
    <header>
        <div class="logo">
            <img src="/static/logo.jpg" alt="Логотип">
        </div>
        <div id="user-info">
            <span id="username">{{ user.display_name() }}</span>
            <img id="user-avatar" src="{{ url_for('static', filename=image_filename) }}" alt="Аватар пользователя">
            <div id="user-menu" class="user-menu">
                <button id="profile-button">Профиль</button>
                <button id="logout-button">Выйти</button>
            </div>
        </div>
    </header></br>
    <nav class="menu">
        <div class="menu-toggle">☰</div>
        <ul>
            {% if current_user.is_authenticated %}
                <li class="menu-section">Администрирование</li>
                {% if check_permission('Пользователи') %}
                    <li><a href="{{ url_for('users') }}">Пользователи</a></li>
                {% endif %}
                {% if check_permission('Роли') %}
                    <li><a href="{{ url_for('role_management') }}">Роли</a></li>
                {% endif %}
                {% if check_permission('Возможность просмотреть профиль пользователя') %}
                    <li><a href="{{ url_for('user_list') }}">Профили пользователей</a></li>
                {% endif %}
                <li class="menu-section">Задачи</li>
                {% if check_permission('Доска задач') %}
                    <li><a href="{{ url_for('task_board') }}">Доска задач</a></li>
                {% endif %}
                {% if check_permission('Удаление задач') %}
                    <li><a href="{{ url_for('show_delete_task') }}">Удаление задач</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
<body>
<style>
    .deltask {
        color: white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: -20px;
    }
</style>
    <h1 class="deltask">Удалить задачи</h1>
    <form id="deleteForm">
        {% for task in tasks %}
            <div>
                <input type="checkbox" name="task_ids[]" value="{{ task.task_id }}"> {{ task.content }}
            </div>
        {% endfor %}
        <button type="button" onclick="deleteSelectedTasks()">Удалить задачи</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages dark-mode">
                {% for message in messages %}
                    <div class="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
            const userAvatar = document.getElementById('user-avatar');
            const userMenu = document.getElementById('user-menu');
            const logoutButton = document.getElementById('logout-button');
            const profileButton = document.getElementById('profile-button');

            // Показать/скрыть меню при клике на аватарку
            userAvatar.addEventListener('click', function() {
                userMenu.classList.toggle('show');
            });

            // Скрыть меню при клике вне его области
            document.addEventListener('click', function(event) {
                if (!userMenu.contains(event.target) && event.target !== userAvatar) {
                    userMenu.classList.remove('show');
                }
            });

            // Обработчик для кнопки "Выйти"
            logoutButton.addEventListener('click', function() {
                if (confirm('Вы уверены, что хотите выйти из аккаунта?')) {
                    window.location.href = '/logout';
                }
            });

            // Обработчик для кнопки "Профиль"
            profileButton.addEventListener('click', function() {
                window.location.href = '{{ url_for("profile") }}';
            });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menuToggle = document.querySelector('.menu-toggle');
            var menu = document.querySelector('.menu');
            if (!menuToggle || !menu) {
                console.log('Menu toggle or menu element not found.');
            } else {
                console.log('Menu toggle and menu elements are found.');
                menuToggle.addEventListener('click', function() {
                    console.log('Menu toggle clicked.');
                    menu.classList.toggle('open');
                });
            }
        });
    </script>

    <script>
        // Определение функции showNotification
    function showNotification(message) {
        // Создание элемента уведомления
        const notification = document.createElement('div');
        notification.classList.add('notification'); // Применение стилей уведомления
        notification.textContent = message; // Установка текста уведомления

        // Добавление уведомления на страницу
        document.body.appendChild(notification);

        // Удаление уведомления через 3 секунды
        setTimeout(function() {
            notification.remove();
        }, 3000); // Удалить уведомление через 3 секунды (можно изменить время)
    }
    </script>

    <script>
    function deleteSelectedTasks() {
        const form = document.getElementById('deleteForm');
        const formData = new FormData(form);
        fetch('/delete_tasks', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok.');
            }
            return response.json();
        })
        .then(data => {
            console.log(data); // Проверяем данные от сервера
            showNotification(data.message); // Показываем уведомление

            // Добавляем задержку перед обновлением страницы
            setTimeout(function() {
                console.log('Reloading page...');
                location.reload(); // Обновляем страницу
            }); // 1 секунда задержки (можно увеличить, если необходимо)
        })
        .catch(error => console.error('Error:', error));
    }
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var flashMessagesContainer = document.querySelector('.flash-messages.dark-mode');
            if (flashMessagesContainer) {
                setTimeout(function() {
                    flashMessagesContainer.style.transition = 'opacity 0.3s ease'; // Добавляем анимацию исчезновения
                    flashMessagesContainer.style.opacity = '0'; // Устанавливаем непрозрачность на 0
                    setTimeout(function() {
                        flashMessagesContainer.parentNode.removeChild(flashMessagesContainer); // Удаляем элемент из DOM
                    }, 300); // Даем 0.3 секунды на полное исчезновение анимации (если есть)
                }, 3000); // Закрываем уведомление через 5 секунд (5000 миллисекунд)
            }
        });
    </script>

</body>
</html>
