<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemenu.css') }}">
</head>
<body>
    <nav class="menu">
        <div class="menu-toggle">☰</div>
        <ul>
            {% if current_user.is_authenticated %}
                <li class="menu-section">Администрирование</li>
                {% if check_permission('Пользователи') or check_permission('root') %}
                    <li><a href="{{ url_for('users') }}">Пользователи</a></li>
                {% endif %}
                {% if check_permission('Роли') or check_permission('root') %}
                    <li><a href="{{ url_for('role_management') }}">Роли</a></li>
                {% endif %}
                {% if check_permission('Возможность просмотреть профиль пользователя') or check_permission('root') %}
                    <li><a href="{{ url_for('user_list') }}">Профили пользователей</a></li>
                {% endif %}
                <li class="menu-section">Задачи</li>
                {% if check_permission('Доска задач') or check_permission('root') %}
                    <li><a href="{{ url_for('task_board') }}">Доска задач</a></li>
                {% endif %}
                {% if check_permission('Удаление задач') or check_permission('root') %}
                    <li><a href="{{ url_for('show_delete_task') }}">Удаление задач</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menuToggle = document.querySelector('.menu-toggle');
            var menu = document.querySelector('.menu');
            if (!menuToggle || !menu) {
                console.log('Menu toggle or menu element not found.');
            } else {
                console.log('Menu toggle and menu elements are found.');
                menuToggle.addEventListener('click', function() {
                    console.log('Menu toggle clicked.');
                    menu.classList.toggle('open');
                });
            }
        });
    </script>
</body>
</html>
