<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylemenu.css') }}">
    <title>Profile</title>
</head>
<body class="dark-mode">
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Логотип">
        </div>
        <div id="user-info">
            <span id="username">{{ current_user.display_name() }}</span>
            <img id="user-avatar" src="{{ url_for('static', filename=image_filename) }}" alt="Аватар пользователя">
            <div id="user-menu" class="user-menu">
                <button id="profile-button">Профиль</button>
                <button id="logout-button">Выйти</button>
            </div>
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages dark-mode">
                {% for message in messages %}
                    <div class="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <nav class="menu">
        <div class="menu-toggle">☰</div>
        <ul>
            {% if current_user.is_authenticated %}
                <li class="menu-section">Администрирование</li>
                {% if check_permission('Пользователи') or check_permission('root') %}
                    <li><a href="{{ url_for('users') }}">Пользователи</a></li>
                {% endif %}
                {% if check_permission('Роли') or check_permission('root') %}
                    <li><a href="{{ url_for('role_management') }}">Роли</a></li>
                {% endif %}
                {% if check_permission('Возможность просмотреть профиль пользователя') or check_permission('root') %}
                    <li><a href="{{ url_for('user_list') }}">Профили пользователей</a></li>
                {% endif %}
                <li class="menu-section">Задачи</li>
                {% if check_permission('root') %}
                    <li><a href="{{ url_for('admin_boards') }}">Все доски</a></li>
                {% endif %}
                {% if check_permission('Доска задач') or check_permission('root') %}
                    <li><a href="{{ url_for('boards') }}">Создать доску</a></li>
                {% endif %}
                {% if check_permission('Просматривать список спринтов') or check_permission('root') %}
                    <li><a href="{{ url_for('list_sprints') }}">Список спринтов</a></li>
                {% endif %}
                {% if check_permission('Удаление задач') or check_permission('root') %}
                    <li><a href="{{ url_for('show_delete_task') }}">Удаление задач</a></li>
                {% endif %}
                <li class="menu-section">Доски задач</li>
                {% for board in boards %}
                    <li><a href="{{ url_for('task_board', board_id=board.id) }}">{{ board.name }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>

    <div class="container">
        <h1 class="text-center my-4">Профиль</h1>
        <main class="content">
            <section>
                <h2>Смена аватара</h2>
                <form id="avatar-form" class="update-form" method="POST" enctype="multipart/form-data" action="{{ url_for('update_avatar') }}">
                    <label>Текущая аватарка:</label></br>
                    <img class="avatar-us" id="avatar-us" src="{{ url_for('static', filename=image_filename) }}" alt="Аватар пользователя"></br></br></br>
                    <label for="new-avatar">Загрузить новый аватар:</label>
                    <input type="file" id="new-avatar" name="new-avatar" class="form-control" accept=".jpg, .jpeg, .png, .gif">
                    <input type="submit" value="Сохранить" class="form-control">
                </form>
            </section>

            <section>
                <h2>Смена имени</h2>
                <form id="name-form" class="update-form" method="POST" action="{{ url_for('update_name') }}">
                    <label for="new-name">Новое имя:</label>
                    <input type="text" id="new-name" name="new-name" class="form-control">
                    <input type="submit" value="Сохранить" class="form-control">
                </form>
            </section>

            <section>
                <h2>Смена пароля</h2>
                <form id="password-form" class="update-form" method="POST" action="{{ url_for('update_password') }}">
                    <label for="current-password">Текущий пароль:</label>
                    <input type="password" id="current-password" name="current-password" class="form-control">
                    <label for="new-password">Новый пароль:</label>
                    <input type="password" id="new-password" name="new-password" class="form-control">
                    <label for="confirm-password">Подтвердите новый пароль:</label>
                    <input type="password" id="confirm-password" name="confirm-password" class="form-control">
                    <input type="submit" value="Сохранить" class="form-control">
                </form>
            </section>
        </main>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var flashMessagesContainer = document.querySelector('.flash-messages.dark-mode');
        if (flashMessagesContainer) {
            setTimeout(function() {
                flashMessagesContainer.style.transition = 'opacity 0.3s ease'; // Добавляем анимацию исчезновения
                flashMessagesContainer.style.opacity = '0'; // Устанавливаем непрозрачность на 0
                setTimeout(function() {
                    flashMessagesContainer.parentNode.removeChild(flashMessagesContainer); // Удаляем элемент из DOM
                }, 300); // Даем 0.3 секунды на полное исчезновение анимации (если есть)
            }, 3000); // Закрываем уведомление через 5 секунд (5000 миллисекунд)
        }
    });
</script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menuToggle = document.querySelector('.menu-toggle');
            var menu = document.querySelector('.menu');
            if (!menuToggle || !menu) {
                console.log('Menu toggle or menu element not found.');
            } else {
                console.log('Menu toggle and menu elements are found.');
                menuToggle.addEventListener('click', function() {
                    console.log('Menu toggle clicked.');
                    menu.classList.toggle('open');
                });
            }
        });

        const userAvatar = document.getElementById('user-avatar');
        const userMenu = document.getElementById('user-menu');
        const logoutButton = document.getElementById('logout-button');
        const profileButton = document.getElementById('profile-button');

        // Показать/скрыть меню при клике на аватарку
        userAvatar.addEventListener('click', function() {
            userMenu.classList.toggle('show');
        });

        // Скрыть меню при клике вне его области
        document.addEventListener('click', function(event) {
            if (!userMenu.contains(event.target) && event.target !== userAvatar) {
                userMenu.classList.remove('show');
            }
        });

        // Обработчик для кнопки "Выйти"
        logoutButton.addEventListener('click', function() {
            if (confirm('Вы уверены, что хотите выйти из аккаунта?')) {
                window.location.href = '/logout';
            }
        });

        // Обработчик для кнопки "Профиль"
        profileButton.addEventListener('click', function() {
            window.location.href = '{{ url_for("profile") }}';
        });
    </script>
</body>
</html>
