    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylemenu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylereg.css') }}">
        <title>Список пользователей</title>
</head>
<body>
<style>
.modal label {
    margin-bottom: -15px;
    margin-top: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #1e1e1e;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #e0e0e0;
}

.modal-content h3 {
    color: #fff;
}

.modal-content p {
    color: #bbb;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-weight: bold;
    color: #e0e0e0;
}

input[type="password"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2e2e2e;
    border: 1px solid #333;
    border-radius: 4px;
    color: #e0e0e0;
}

button, input[type="button"] {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, input[type="button"]:hover {
    background-color: #333;
}
</style>
    <header>
        <div class="logo">
            <img src="/static/logo.jpg" alt="Логотип">
        </div>
        <div id="user-info">
            <span id="username">{{ user.display_name() }}</span>
            <img id="user-avatar" src="{{ url_for('static', filename=image_filename) }}" alt="Аватар пользователя">
            <div id="user-menu" class="user-menu">
                <button id="profile-button">Профиль</button>
                <button id="logout-button">Выйти</button>
            </div>
        </div>
    </header>
    <nav class="menu">
        <div class="menu-toggle">☰</div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                {% if current_user.role == 'admin' %}
                    {% if template_exists('indexfront.html') or template_exists('register.html') %}
                        <li class="menu-section">Администрирование</li>
                        {% if template_exists('indexfront.html') %}
                            <li><a href="{{ url_for('admin') }}">Админ панель</a></li>
                        {% endif %}
                        {% if template_exists('register.html') %}
                            <li><a href="{{ url_for('users') }}">Пользователи</a></li>
                        {% endif %}
                    {% endif %}
                    {% if template_exists('task_board.html') or template_exists('delete_task.html') %}
                        <li class="menu-section">Задачи</li>
                        {% if template_exists('task_board.html') %}
                            <li><a href="{{ url_for('task_board') }}">Редактор задач</a></li>
                        {% endif %}
                        {% if template_exists('delete_task.html') %}
                            <li><a href="{{ url_for('show_delete_task') }}">Удаление задач</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="container">
        <h2>Список пользователей</h2>
        <form action="/create_user" method="POST">
            <label for="usernick">Имя пользователя:</label><br>
            <input type="text" id="usernick" name="usernick" required><br>
            <label for="username">Логин:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Пароль:</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="role">Роль:</label><br>
            <select id="role" name="role">
                <option value="user">Пользователь</option>
                <option value="admin">Администратор</option>
            </select><br>
            <input type="submit" value="Создать пользователя">
        </form>
        <table id="userTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя пользователя</th>
                    <th>Логин</th>
                    <th>Роль</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="userRow" data-user-id="{{ user.id }}" data-username="{{ user.username }}" data-user-role="{{ user.role }}">
                    <td>{{ user.id }}</td>
                    <td>{{ user.usernick }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <button class="editUserBtn">Редактировать</button> <!-- Кнопка для редактирования -->
                        <button class="deleteUserBtn">Удалить</button> <!-- Кнопка для удаления -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="userModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Данные пользователя</h3>
            <p><strong>ID: </strong><span id="modalUserId"></span></p>
            <p><strong>Имя пользователя: </strong><span id="modalUsername"></span></p>
            <p><strong>Роль:</strong></p>
            <select id="modalUserRole" name="userRole">
                <option value="user">Пользователь</option>
                <option value="admin">Администратор</option>
            </select><br>
            <button id="changeRoleBtn">Сохранить изменения роли</button>
            <div id="changePasswordForm" style="display: none;">
                <label for="newPassword">Новый пароль:</label><br>
                <input type="text" id="newPassword" name="newPassword" required><br>
                <input type="button" id="confirmPasswordBtn" value="Подтвердить изменения">
            </div>
            <button id="showChangePasswordFormBtn">Сменить пароль</button>
            <button id="generatePasswordBtn">Сгенерировать пароль</button>
            <div id="changeUsernameForm" style="display: none;">
                <label for="new_name">Новый никнейм:</label><br>
                <input type="text" id="new_name" name="new_name" required><br>
                <input type="button" id="confirmUsernameBtn" value="Подтвердить изменения">
            </div>
            <button id="showChangeUsernameFormBtn">Сменить никнейм</button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menuToggle = document.querySelector('.menu-toggle');
            var menu = document.querySelector('.menu');
            if (!menuToggle || !menu) {
                console.log('Menu toggle or menu element not found.');
            } else {
                console.log('Menu toggle and menu elements are found.');
                menuToggle.addEventListener('click', function() {
                    console.log('Menu toggle clicked.');
                    menu.classList.toggle('open');
                });
            }
        });
    </script>
    <script>
        var modal = document.getElementById("userModal");
        var closeBtn = document.getElementsByClassName("close")[0];
        var modalUserId = document.getElementById("modalUserId");
        var modalUsername = document.getElementById("modalUsername");

        document.getElementById("showChangePasswordFormBtn").onclick = function() {
            document.getElementById("changePasswordForm").style.display = "block";
        };

        document.getElementById("confirmPasswordBtn").onclick = function() {
            var userId = modalUserId.textContent;
            var newPassword = document.getElementById("newPassword").value;

            fetch('/change_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: userId,
                    new_password: newPassword
                })
            })
            .then(response => {
                if (response.ok) {
                    alert("Пароль успешно изменен");
                    location.reload();
                } else {
                    response.json().then(data => {
                        alert("Ошибка: " + data.error);
                    });
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
                alert("Произошла ошибка при выполнении запроса. Пожалуйста, попробуйте еще раз.");
            });

            document.getElementById("changePasswordForm").style.display = "none";
        };

        document.getElementById("showChangeUsernameFormBtn").onclick = function() {
            document.getElementById("changeUsernameForm").style.display = "block";
        };

        document.getElementById("confirmUsernameBtn").onclick = function() {
            var userId = modalUserId.textContent;
            var new_name = document.getElementById("new_name").value;

            fetch('/update_name_admin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: userId,
                    new_name: new_name
                })
            })
            .then(response => {
                if (response.ok) {
                    alert("Никнейм успешно изменен");
                    location.reload();
                } else {
                    response.json().then(data => {
                        alert("Ошибка: " + data.error);
                    });
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
                alert("Произошла ошибка при выполнении запроса. Пожалуйста, попробуйте еще раз.");
            });

            document.getElementById("changeUsernameForm").style.display = "none";
        };

        document.getElementById("generatePasswordBtn").onclick = function() {
            var length = 12;
            var charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_-+=";
            var password = "";
            for (var i = 0; i < length; i++) {
                password += charset.charAt(Math.floor(Math.random() * charset.length));
            }
            document.getElementById("newPassword").value = password;
        };

        closeBtn.onclick = function() {
            modal.style.display = "none";
        };

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        document.getElementById("changeRoleBtn").onclick = function() {
            var userId = modalUserId.textContent;
            var newRole = document.getElementById("modalUserRole").value;

            fetch('/change_role', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: userId,
                    new_role: newRole
                })
            })
            .then(response => {
                if (response.ok) {
                    alert("Роль успешно изменена");
                    location.reload();
                } else {
                    response.json().then(data => {
                        alert("Ошибка: " + data.error);
                    });
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
                alert("Произошла ошибка при выполнении запроса. Пожалуйста, попробуйте еще раз.");
            });
        };

        var deleteUserBtns = document.getElementsByClassName("deleteUserBtn");

        Array.from(deleteUserBtns).forEach(function(deleteBtn) {
            deleteBtn.addEventListener("click", function(event) {
                event.preventDefault();
                var userId = deleteBtn.closest(".userRow").getAttribute("data-user-id");

                fetch('/delete_user', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        user_id: userId
                    })
                })
                .then(response => {
                    if (response.ok) {
                        alert("Пользователь успешно удален");
                        location.reload();
                    } else {
                        response.json().then(data => {
                            alert("Ошибка: " + data.error);
                        });
                    }
                })
                .catch(error => {
                    console.error('Ошибка при выполнении запроса:', error);
                    alert("Произошла ошибка при выполнении запроса. Пожалуйста, попробуйте еще раз.");
                });
            });
        });
        var editUserBtns = document.getElementsByClassName("editUserBtn");

        // Перебираем все кнопки и назначаем обработчик на каждую
        Array.from(editUserBtns).forEach(function(editBtn) {
            editBtn.addEventListener("click", function(event) {
                event.preventDefault(); // Отменяем стандартное поведение кнопки

                // Находим ближайший родительский элемент tr
                var userRow = event.target.closest(".userRow");

                // Получаем данные о пользователе из атрибутов data
                var userId = userRow.getAttribute("data-user-id");
                var username = userRow.getAttribute("data-username");
                var userRole = userRow.getAttribute("data-user-role");

                // Заполняем данные модального окна
                modalUserId.textContent = userId;
                modalUsername.textContent = username;
                document.getElementById("modalUserRole").value = userRole;

                // Отображаем модальное окно
                modal.style.display = "block";
            });
        });

            const userAvatar = document.getElementById('user-avatar');
            const userMenu = document.getElementById('user-menu');
            const logoutButton = document.getElementById('logout-button');
            const profileButton = document.getElementById('profile-button');

            // Показать/скрыть меню при клике на аватарку
            userAvatar.addEventListener('click', function() {
                userMenu.classList.toggle('show');
            });

            // Скрыть меню при клике вне его области
            document.addEventListener('click', function(event) {
                if (!userMenu.contains(event.target) && event.target !== userAvatar) {
                    userMenu.classList.remove('show');
                }
            });

            // Обработчик для кнопки "Выйти"
            logoutButton.addEventListener('click', function() {
                if (confirm('Вы уверены, что хотите выйти из аккаунта?')) {
                    window.location.href = '/logout';
                }
            });

            // Обработчик для кнопки "Профиль"
            profileButton.addEventListener('click', function() {
                window.location.href = '{{ url_for("profile") }}';
            });

    </script>
</body>
</html>